/* COlor principal #082F40*/
.mainBackgroundColorBlue{
  background-color: #082F40;

}

.navbar {
   border: none;
  border-radius: 0px;
}


.myHeader{
  padding: 60px;
}

.imgCenter {
  display:block;
  margin:auto;
  padding:  5px;

}





@font-face {
  font-family: 'Proxima'; /*a name to be used later*/
  src: url('../styles/fonts/proxima.otf'); /*URL to font*/
}


.centeredText{
  font-family: Proxima;
  text-align: center;
  margin: 0 auto;
  color: white;
  padding: 20px;
}

.codebadgetbackgroundColor{
  background-color: white;
}

.textbluecolor{
  color:#082F40;
}

.projectBox{
  border: solid 1px rgba(0, 85, 136, 0.3);
  border-radius: 5px;
  margin: 10px;

}
.fadeAn{
  opacity: 1;
}

.fadeAn.ng-animate {
  transition:0.5s linear all;
}

.fadeAn.ng-enter {

  opacity:0;
}

.fadeAn.ng-enter-active {

  opacity:1;
}

.fadeAn.ng-leave {

  opacity:1;
}

.fadeAn.ng-leave-active {

  opacity:0;
}

.social{
  width: 50px;
  transition: margin 0.1s linear;
  margin: 5px;
}

.social:hover{
  margin: 1px;
}

/* The finishing CSS styles for the enter animation */


.img-badget{
  width: 150px;
}

@media screen and (max-width:450px){
  .img-badget{
    width: 100px;
  }
}

@media screen and (max-width:350px){
  .img-badget{
    width: 80px;
  }
}
