<nav class="navbar  mainBackgroundColorBlue navbar-dark navbar-fixed-top">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
    <a class="navbar-brand" href="#"><b>Pablo Ortuño Salmerón</b></a>
    <ul class="nav navbar-nav  pull-xs-right">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://pablorts.es/blog/">Blog</a>
      </li>

    </ul>
  </div>
</nav>
<div class="container-fluid myHeader mainBackgroundColorBlue " >
  <div class="row">
    <h2 class="centeredText">Pablo Ortuño Salmerón</h2>
    <h4 class="centeredText">#Create #Make #Develop</h4>
  </div>
</div>


<div class="container-fluid myHeader" >
  <h2 class="centeredText textbluecolor" >About me</h2>
  <img src="/images/mifotonegro.png" width="250px" class="imgCenter img-circle">
  <p class="centeredText textbluecolor container" >Hi, I'm Pablo Ortuño,<br> I am a Bachelor Engineer in Telecommunications who currently lives in Spain. As a tech lover, I always try to develop projects where I can combine excellent engineering products with my passion about design and user experiences. My main areas of interest are microcontrollers, Internet of Things, Android and web development. I'm always available for new projects where I can collaborate with other people.

    I am continually trying to explore new ways to create cool stuff, and I always try to learn new programming languages in order to expand my points of view and my engineering knowledge.
    <br>
    <br>
    In my personal life, I'm a passionate musician. My guitar is my second lover, and I'm involved in some musical projects you can check out.
    <br>
    I'm a sports lover as well: basketball, running and ski are my main sports at the moment.

  </p>


</div>

<div class="container-fluid myHeader mainBackgroundColorBlue " >
  <h2 class="centeredText" >My skills</h2>
  <div class="container row" style="margin: 0 auto; padding: 60px">
    <div class="col-lg-4 col-md-6 col-xs-12  " style="padding-top: 30px">
      <img src="/images/android.png"  class="imgCenter codebadgetbackgroundColor img-circle img-badget">
      <b class="centeredText"><p>AngularJs</p></b></div>
    <div class="col-lg-4 col-md-6 col-xs-12 "style="padding-top: 30px">
      <img src="/images/angular.png"  class="imgCenter codebadgetbackgroundColor  img-circle img-badget">
      <b class="centeredText"><p>Android Dev</p></b></div>
    <div class="col-lg-4 col-md-6  col-xs-12"style="padding-top: 30px">
      <img src="/images/cmas.png"  class="imgCenter codebadgetbackgroundColor  img-circle img-badget">
      <b class="centeredText"><p>C++</p></b></div>
    <div class="col-lg-4 col-md-6 col-xs-12 "style="padding-top: 30px">
      <img src="/images/htmlcss.png" class="imgCenter codebadgetbackgroundColor  img-circle img-badget">
      <b class="centeredText"><p>HTML+CSS</p></b></div>
    <div class="col-lg-4 col-md-6 col-xs-12 "style="padding-top: 30px">
      <img src="/images/java.png" class="imgCenter codebadgetbackgroundColor  img-circle img-badget">
      <b class="centeredText"><p>Java</p></b></div>
    <div class="col-lg-4 col-md-6 col-xs-12 " style="padding-top: 30px">
      <img src="/images/git.png" class="imgCenter codebadgetbackgroundColor  img-circle img-badget">
      <b class="centeredText"><p>Git</p></b></div>
  </div>
  <p class="centeredText" style="cursor: pointer" ng-click="moreSkilss=!moreSkilss">Others skills<br> <i class="material-icons">keyboard_arrow_down</i></p>

  <div class="row fadeAn"  ng-if="moreSkilss">
    <div class="col-lg-3 col-md-6 col-xs-12 ">
      <ul class="list-group">
        <li class="list-group-item">
        <progress class="progress progress-success pull-xs-right" value="90" max="100" style="width: 80px;">90%</progress>
          Matlab
        </li>
        <li class="list-group-item">
         <progress class="progress progress-success pull-xs-right" value="60" max="100" style="width: 80px;">60%</progress>
          PHP
        </li>
        <li class="list-group-item">
         <progress class="progress progress-success pull-xs-right" value="50" max="100" style="width: 80px;">50%</progress>
          Jquery
        </li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12 ">
      <ul class="list-group">
        <li class="list-group-item">
        <progress class="progress progress-success pull-xs-right" value="70" max="100" style="width: 80px;">70%</progress>
          Arduino
        </li>
        <li class="list-group-item">
         <progress class="progress progress-success pull-xs-right" value="65" max="100" style="width: 80px;">65%</progress>
          Raspberry Pi
        </li>
        <li class="list-group-item">
         <progress class="progress progress-success pull-xs-right" value="90" max="100" style="width: 80px;">90%</progress>
          Signal Procesing
        </li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12 ">
      <ul class="list-group">
        <li class="list-group-item">
        <progress class="progress progress-success pull-xs-right" value="95" max="100" style="width: 80px;">95%</progress>
          Responsive Desing
        </li>
        <li class="list-group-item">
         <progress class="progress progress-success pull-xs-right" value="95" max="100" style="width: 80px;">95%</progress>
          Boostrap
        </li>
        <li class="list-group-item">
         <progress class="progress progress-success pull-xs-right" value="95" max="100" style="width: 80px;">95%</progress>
          Ionic
        </li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12 ">
      <ul class="list-group">
        <li class="list-group-item">
         <progress class="progress progress-success pull-xs-right" value="60" max="100" style="width: 80px;">60%</progress>
          Photoshop
        </li>
        <li class="list-group-item">
         <progress class="progress progress-success pull-xs-right" value="50" max="100" style="width: 80px;">50%</progress>
          Illustrator
        </li>
        <li class="list-group-item">
         <progress class="progress progress-success pull-xs-right" value="90" max="100" style="width: 80px;">90%</progress>
         Multiplatform Dev
        </li>
      </ul>
    </div>
  </div>


</div>


<div class="container-fluid myHeader " >
  <h2 class="centeredText" style="color: black" >Actual Projects</h2>

  <div class="row">
    <div class="col-lg-6 col-md-6 col-xs-12">
      <div class="projectBox">
      <h3 class="centeredText textbluecolor ">QBBO</h3>
      <p class="centeredText textbluecolor">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. <br>
        Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br>
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolor</p>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12">
      <div class="projectBox">
      <h3 class="centeredText textbluecolor ">Tutorial for Glass</h3>
      <p class="centeredText textbluecolor">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. <br>
        Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br>
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolor</p>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12 ">
      <div class="projectBox">
      <h3 class="centeredText textbluecolor ">Emoution</h3>
      <p class="centeredText textbluecolor">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. <br>
        Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br>
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolor</p>
        </div>
      </div>
    <div class="col-lg-6 col-md-6 col-xs-12 ">
      <div class="projectBox">
      <h3 class="centeredText textbluecolor ">Willimbu</h3>
      <p class="centeredText textbluecolor">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. <br>
        Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br>
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolor</p>
      </div>
    </div>
  </div>


</div>

<div class="container-fluid myHeader mainBackgroundColorBlue " >
  <h2 class="centeredText" >If you want more!<br> Chekout my <a href="https://es.linkedin.com/in/pablortusal">Linkedin</a></h2>
</div>



<div style="position:fixed; right: 0px;top:100px;">
  <a href="https://es.linkedin.com/in/pablortusal"><img src="images/linkedin-icon.png"  class="social"></a>
  <br>
  <a href="https://www.facebook.com/orti13"><img src="images/face.png"  class="social"></a>
  <br>
  <a href="https://www.instagram.com/oxigenao/"><img src="images/insta.png"  class="social"></a>
  <br>
  <a href="https://twitter.com/oxigenao"><img src="images/twitter.png" class="social"></a>

</div>
